@page "/"
@inject NavigationManager Navigation

<h1 class="text-center my-5">Welcome to Keep The Beat</h1>
<div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
    <button class="btn btn-primary btn-lg mx-2" @onclick="NavigateToLogin">Login</button>
    <button class="btn btn-secondary btn-lg mx-2" @onclick="NavigateToRegister">Register</button>
</div>


<style>
  h1{
        color: #483d8b;
  }
  body {
        background-color: #e7feff; 
  }
</style>

@code {
    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void NavigateToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}
