@page "/login"
@inject NavigationManager Navigation
@inject Database.Services.UserService userService
<PageTitle>Login</PageTitle>

<div class="container mt-4">
    <h3>Login</h3>
    <p>Don't have an Account yet? <button class="btn btn-link" @onclick="NavigateToRegister">Sign Up</button></p>

    <div class="form-group">
        <label for="Lusername">Username:</label>
        <input id="Lusername" type="text" class="form-control" @bind="Lusername" />
    </div>

    <div class="form-group">
        <label for="Lpassword">Password:</label>
        <input id="Lpassword" type="password" class="form-control" @bind="Lpassword" />
    </div>

    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-danger" role="alert">
            @ErrorMessage
        </div>
    }

    <button class="btn btn-primary" @onclick="PerformLogin">Login</button>
</div>

@code {
    private string Lusername { get; set; }
    private string Lpassword { get; set; }
    private string ErrorMessage { get; set; }

    private async Task PerformLogin()
    {
        if (await userService.Login(Lusername, Lpassword))
        {
            Navigation.NavigateTo("/search");
        }
        else
        {
            ErrorMessage = "Invalid username or password.";
        }
    }

    private void NavigateToRegister()
    {
        Navigation.NavigateTo("/register");
    }
}
