@page "/main"
@using Microsoft.AspNetCore.Components.Web
<h1 style="display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;">
    Keep The Beat
</h1>

<div class="search-container">
    <input @bind="searchQuery" @bind:event="oninput" placeholder="Nach Songs suchen..." />
    <button @onclick="SearchSong">Suchen</button>
</div>

@if (!string.IsNullOrEmpty(result))
{
    <div class="search-result">
        @result
    </div>
}

@code {
    private string searchQuery = string.Empty;
    private string result;

    private void SearchSong()
    {
        if (!string.IsNullOrEmpty(searchQuery))
        {
            // Hier wird später die Funktion zur Suche in der Datenbank eingebaut
            result = $"Ergebnisse für: {searchQuery}";
        }
        else
        {
            result = "Bitte geben Sie einen Suchbegriff ein.";
        }
    }
}

