@page "/register"
@inject NavigationManager Navigation
@using Keep_The_Beat.Classes;
@using KeepTheBeat.Database.Services;
@inject UserService UserService


<PageTitle>Register</PageTitle>

<h3>Register</h3>

<p>Already have an Account? <button @onclick="NavigateToLogin">Sign In</button></p>
<div>
    <label for="Rfirstname">Firstname:</label>
    <input type="text" id="Rfirstname" @bind="Rfirstname" />
</div>
<div>
    <label for="Rlastname">Lastname:</label>
    <input type="text" id="Rlastname" @bind="Rlastname" />
</div>
<div>
    <label for="Remail">Email:</label>
    <input type="email" id="Remail" @bind="Remail" />
</div>
<div>
    <label for="Rbirthday">Birthday:</label>
    <input type="date" id="Rbirthday" @bind="Rbirthday" />
</div>
<div>
    <label for="Rusername">Username:</label>
    <input type="text" id="Rusername" @bind="Rusername" />
</div>
<div>
    <label for="Rpassword">Password:</label>
    <input type="password" id="Rpassword" @bind="Rpassword" />
</div>

<button @onclick="register">Register</button>


@code {
    private string Rusername { get; set; }
    private string Rpassword { get; set; }
    private string Remail { get; set; }
    private string Rfirstname { get; set; }
    private string Rlastname { get; set; }
    private DateTime Rbirthday { get; set; }

    private async Task register()
    {
        User user = new User(Rusername, Rpassword, Remail, Rfirstname, Rlastname);
        await UserService.AddUser(user);
    }

    private void NavigateToLogin()
    {
        Navigation.NavigateTo("/login");
    }
}
